.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json


.env
.env.*
!.env.example

# dependencies
node_modules
package-lock.json
pnpm-lock.yaml
.pnpm-store

.next
# Vercel
.vercel

dist

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

.eslint-config-inspector
